@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');


/* #cards, .card, .fl, .title1,.title2, .title3, 
.title4 { border: 1px solid black; } */

body {
    font-family: 'Oswald', sans-serif;
    
}
#cards {

    width: 1000px;
    height: 800px;
    margin: 50px auto;

    display: flex;
    justify-content: center;
    align-items: center;

}

.card {
    width: 300px;
    height: 675px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;

}

.card:hover {
box-shadow: 3px 3px 3px 4px rgba(0,0,0,0.25);
transition: .5s;
}

.fl {
    width: 280px;
    height: 420px; 
    margin-top: 10px;
}

.fl img:nth-child(2) {
    position: relative;
    top: -120px;
    left: 10px;
    visibility: hidden;
}

.fl img:nth-child(3) {
    position: relative;
    top: -310px;
    left: -15px;
}



.title1 {
    width: 280px;
    height: 75px; 
    color: #616161;
    font-size: 30px;
    line-height: 1;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;

}

.title2 {
    width: 240px;
    height: 45px; 
    
    display: flex;
    justify-content: space-around;

}

.title2 div {
    display: flex;
    align-items: center;
}

.title2 > div:nth-child(1) {
    font-size: 30px;
    color: #242323;
    font-weight: 600;

}


.title2 > div:nth-child(2) {
    font-size: 19px;
    color: #868282;
    font-weight: 600;
    text-decoration: line-through;
}

.title3 {
    width: 280px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.material-icons { 
    color: #ffcf00;
    font-size: 32px;
    
}

.title4 {
    width: 280px;
    height: 75px;

    display: flex;
    justify-content: center;
    align-items: center;

    filter: none;
}

.title4:hover {
filter: saturate(800%);
transition: .5s;
}